html {
  overflow-x: hidden;
}

.wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 30rem;
}

.header {
  top: 30px;
}

.header__wrapper {
  margin-top: 0;
  padding-top: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .logo {
  margin: 0;
}

.menu {
  width: 11rem;
  margin-left: 0;
}

.menu .list {
  display: none;
}

.menu .burger {
  cursor: pointer;
  display: block;
  width: 5rem;
  height: 5rem;
}

.menu .burger span {
  display: block;
  width: 3rem;
  height: 2px;
  background-color: #F1CDB3;
  top: 50%;
  position: absolute;
  right: 17%;
}

.menu .burger span::before, .menu .burger span::after {
  position: absolute;
  width: 3rem;
  height: 2px;
  background-color: #F1CDB3;
  content: '';
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.not-only {
  padding-top: 15rem;
}

.not-only__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.not-only .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.not-only .content-section {
  margin-right: 0rem;
  max-width: 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.not-only .content-section__title {
  margin: 0 auto;
  font-size: 25px;
  max-width: 23rem;
  line-height: 3.2rem;
  letter-spacing: 0.15rem;
}

.not-only .content-section__subtitle {
  line-height: 2.4rem;
  max-width: 30rem;
  margin: 0;
  padding-top: 4.2rem;
}

.not-only .content-section__button {
  margin-top: 4rem;
  margin-left: 0;
}

.not-only__image {
  width: 26rem;
  height: 27rem;
  margin-top: 1rem;
  margin-left: 4rem;
}

.about {
  max-width: 30rem;
}

.about .container {
  margin: 4.2rem 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.about__image__wrapper {
  width: 26rem;
  height: 35.4rem;
  margin-top: 4rem;
  margin-right: 5px;
}

.about__content {
  margin: 0 auto;
  max-width: 30rem;
}

.about__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  font-size: 25px;
  line-height: 3.2rem;
  letter-spacing: 0.15rem;
}

.about__description {
  text-align: justify;
}

.about__description p:nth-child(2) {
  margin-top: 2rem;
}

.pets .container {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.pets__title {
  font-size: 2.5rem;
  line-height: 3.2rem;
  letter-spacing: 0.15rem;
  padding-bottom: 4rem;
}

.pets .slider-button {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 2rem 4rem 0;
}

.pets .slider-button__reverted {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 2rem 4rem 0;
}

.pets__slider-box {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 4rem;
  margin: 0 1.2rem;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pets__content-items {
  background: #FAFAFA;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__content-items:nth-child(2) {
  display: none;
}

.pets__button {
  margin-top: 4rem;
}

.help {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4rem;
}

.help .wrapper {
  margin-left: 0;
  margin-right: 0;
  max-width: 32rem;
}

.help__wrapper {
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 30rem;
  padding-left: 0.5rem;
}

.help__title {
  font-size: 2.5rem;
  line-height: 3.2rem;
  letter-spacing: 0.15rem;
  width: 27rem;
}

.help__rows {
  margin: 4.2rem 0 0;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.help__rows__panel {
  width: 13rem;
  height: 8.7rem;
}

.help__rows__panel img {
  width: 5rem;
  margin: 0;
  margin-bottom: 2rem;
}

.help__rows__panel h4 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.09rem;
}

.in-addition .container {
  margin-top: 4.3rem;
  margin-bottom: 3.9rem;
}

.in-addition__wrapper__image {
  padding-top: 0;
}

.in-addition__image {
  padding-top: 0;
}

.in-addition__image img {
  width: 26rem;
  height: 13.5rem;
}

.in-addition__content {
  width: 100%;
  padding: 0 1rem 4.2rem 0.9rem;
  row-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.in-addition__content__title {
  padding: 0 3rem;
  font-size: 2.5rem;
  line-height: 3.2rem;
  letter-spacing: 0.15rem;
}

.in-addition__content__subtitle {
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  color: #545454;
  padding: 0;
}

.in-addition__content__card-number {
  padding: 1em 1.3rem;
}

.in-addition__content__card-number span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.09rem;
}

.in-addition__content__text {
  margin-top: 0;
  text-align: justify;
}

.footer__wrapper {
  padding-top: 0;
}

.footer__wrapper__address-title, .footer__wrapper__questions-title {
  padding: 0 1rem;
  font-size: 2.5rem;
  line-height: 3.2rem;
  letter-spacing: 0.15rem;
}

.footer__wrapper__questions-title {
  margin-top: 3rem;
}

.footer__wrapper__link {
  margin-top: 2rem;
}

.footer__wrapper__link.number, .footer__wrapper__address__street.london {
  padding-bottom: 4rem;
}

.footer__wrapper__link a, .footer__wrapper__address a {
  margin-top: 0.3rem;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper__link a img, .footer__wrapper__address a img {
  margin-right: 2rem;
}

.footer__wrapper__image {
  margin: 0 auto;
}

.footer__wrapper__image img {
  width: 26rem;
  height: auto;
  margin-top: 0;
}

.footer__wrapper__questions {
  width: 31rem;
  margin: 0;
  padding-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__wrapper__address {
  margin: 0 auto;
  padding-top: 0;
}

.footer__wrapper__address-title {
  text-align: center;
  padding-bottom: 0.6rem;
}

.footer__wrapper__address__street {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0.8rem;
}

.footer__wrapper__address__street.boston img {
  width: 4rem;
}
/*# sourceMappingURL=main(width320).css.map */